@use "./_variables" as variables;

.layout-topbar-container {
    position: fixed;
    height: 7rem;
    z-index: 997;
    left: 0;
    top: 0;
    width: 100%;
    // padding: 5px 50px;
    padding: 0rem 9rem;
    transition: margin-left variables.$transitionDuration;
    background-color: var(--surface-ground);
    align-items: center;

    .layout-topbar {
        height: 100%;
        display: flex;
        flex-direction: row;
    }
    .layout-topbar-logo {
        display: flex;
        align-items: center;
        color: var(--surface-900);
        font-family: 'EuclidBold';
        font-size: 2.2rem;
        img {
            height: 2.7rem;
            margin-right: .5rem;
        }
    }
}